          <footer class="footer-wrapper">
                <div class="footer-box">
                  <div class="footer-container">
        
                  <div class="contact-wrapper">
                    <div class="contact-text">
                      <span>Join the Community</span>
                    </div>
                        <div class="input-wrapper">
                          <input class="email-box" placeholder="địa chỉ email.."></input>
                          <button class="submit-button">Đăng ký</button>
                        </div>
                      <div class="note-box">
                        <span class="note-text">By signing up you agree to our terms <span style="color: red">Privacy Policy</span></span>
                      </div>
                  </div>
        
                  <div class="social-media-wrapper">
                    <span class="social-media-header">Social Media</span>
                    <ul class="platform-wrapper">
                      <li class="platform"><img id="square-box" src="/images/clip-arts/facebook-logo.png" alt='facebook logo'/>facebook</li>
                      <li class="platform"><img id="square-box" src="/images/clip-arts/instagram-logo.png" alt='instagram logo'/>instagram</li>
                      <li class="platform"><img id="square-box" src="/images/clip-arts/twitter-logo.png" alt='twitter logo'/>twitter</li>
                      <li class="platform"><img id="rectangle-box" src="/images/clip-arts/youtube-logo.png" alt='youtube logo'/>youtube</li>
                    </ul>
                  </div>
        
                    <div class="about-us-wrapper">
                      <div class="about-us-header-wrapper">
                      <span>About</span>
                      </div>
                      <ul class="aboutlist-wrapper">
                        <li class="aboutlist-item">Điều khoản và điều kiện</li>
                        <li class="aboutlist-item"> Chính sách về quyền riêng tư</li>
                        <li class="aboutlist-item">Liên hệ với chúng tôi</li>
                        <li class="aboutlist-item">FAQ</li>
                      </ul>
                    </div>
                  </div>
                </div>
          </footer> 