<section class="navbar-container">
  <a href="/" class="route-link">
    <div class="menu-wrapper">
      <div class="menu">
        <img class="menu-icon icn1" src="/images/clip-arts/house-icon.png" />
        <span>HOME</span>
      </div>
    </div>
  </a>
  <div class="menu-wrapper" id="dropdown">
    <div class="menu">
      <img class="menu-icon icn2" src="/images/clip-arts/list-icon.png" />
      <span>DANH MỤC SẢN PHẨM</span>
    </div>
    <ul class="dropdown-list">
      <a href="/shop" class="route-link">
        <li>Dụng cụ tập luyện</li>
      </a>


      <li class="route-link">Thực phẩm thể hình</li>


      <li class="route-link">Workout Program</li>


      <li class="route-link">Quần áo</li>

    </ul>
  </div>
  <div class="menu-wrapper">
    <a href="/contact" class="route-link">
    <div class="menu">
      <img class="menu-icon icn3" src="/images/clip-arts/mail-icon.png" />
      <span>LIÊN HỆ</span>
    </div>
    </a>
  </div>
</section>