<div class="flex-dir-col product-box">

    <div class="marginY-30 text-center">
        <h1 class="hard">Úi chà!</h1>
        <span class="hard">Bạn chưa thêm bất kì sản phẩm nào vào giỏ</span>
    </div>

    <div class="justify-center">
        <img class="baggy" src="/images/clip-arts/empty-Cart.png" alt="empty cart">
    </div>

    <div class="marginY-30 justify-center">
        <a href="/equipment" class="route-link">
            <span class="soft return-shopping">QUAY LẠI CỬA HÀNG</span>
        </a>
    </div>
</div>