<section class="container">
  <div class="slider-wrapper">
    <div class="slider">
      <img src="https://www.bodyweightmuscle.com/wp-content/uploads/2020/04/CALISTHENICS-COMPLETE-BEGINNER-GUIDE-FINAL.jpg" />
      <img src="https://katiecouric.com/wp-content/uploads/2021/12/KCM_WorkoutAffiliate.jpg" />
      <img src="https://www.bodybuilding.com/images/merch/550boxes/05-29-flyout-fatburner.jpg" />
      <img src="https://static.independent.co.uk/2023/01/04/16/womes%20active%20wear%20indybest%20copy-1.jpg" />
    </div>
</section>

<section class="products-section">
  <div class="products-box">
    <div class="Anounce">
      <span>SẢN PHẨM BÁN CHẠY</span>
    </div>

    <ul class="products-container">
      <li class="onsale-item">
        <img class="product-img" src="/images/products/Parallets.png" />
        <div class="product-info">
          <span>PARALLETTES 149.000₫</span>
        </div>
      </li>
      <li class="onsale-item">
        <img class="product-img" src="/images/products/Absroller.png" />
        <div class="product-info">
          <span>LĂN TẬP BỤNG 119.000₫</span>
        </div>
      </li>
      <li class="onsale-item">
        <img class="product-img" src="/images/products/dumbbell.png" />
        <div class="product-info">
          <span>TẠ TAY ĐA NĂNG 420.000₫</span>
        </div>
      </li>
      <li class="onsale-item">
        <img class="product-img" src="/images/products/Resistant-band.png" />
        <div class="product-info">
          <span>BỘ DÂY KHÁNG LỰC 349.000₫</span>
        </div>

      </li>

    </ul>
  </div>
  </div>
  <div>
    <div class="ad-wrapper">
      <div class="ad-box">
        <div class="headline-box">
          <span class="headline">ONLINE COACHING</span>
          <span class="catcher">độ dáng tại nhà hiệu quả với đội ngũ huấn luyện tận tâm</span>
          <div class="learn-more-box">
            <span class="learn-more">Xem Thêm</span>
          </div>
        </div>
      </div>
    </div>
</section>