<div class="brand-container">

    <div class="brand EVLutionNutrition">
        <div class="justify-center">
            <img src="/images/banners/EVLutionNutrition-logo.png" alt="EVL logo">
        </div>
        <div class="flex-spaceout">
            {{!-- this data will later be fetch from MongoDb --}}
            <a href="/supplement/view" class="route-link">

                <div class="box">
                    <img src="/images/products/Evl-N Whey.png" alt="whey">

                    <div class="supplement-info">

                        <span class="Impact-25">100% WHEY</span>

                        <div class="marginY-10">
                            <div class="rated">
                                <span class="fa fa-star checked-Evl-N"></span>
                                <span class="fa fa-star checked-Evl-N"></span>
                                <span class="fa fa-star checked-Evl-N"></span>
                                <span class="fa fa-star checked-Evl-N"></span>
                                <span class="fa fa-star checked-Evl-N"></span>

                                <span class="segoeUI-15">(143)</span>
                            </div>
                        </div>

                        <span class="segoeUI-15">949.000₫</span>

                    </div>

                </div>
            </a>
            <div class="box">
                <img src="/images/products/Evl-N mass.png" alt="mass">

                <div class="supplement-info">

                    <span class="Impact-25">LEANMODE (Capsules)</span>

                    <div class="marginY-10">
                        <div class="rated">
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>

                            <span class="segoeUI-15">(143)</span>
                        </div>
                    </div>

                    <span class="segoeUI-15">949.000₫</span>

                </div>

            </div>

            <div class="box">
                <img src="/images/products/Evl-N metabolism.png" alt="metabolism">

                <div class="supplement-info">

                    <span class="Impact-25">TRANS4ORM (Capsules)</span>

                    <div class="marginY-10">
                        <div class="rated">
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>

                            <span class="segoeUI-15">(143)</span>
                        </div>
                    </div>

                    <span class="segoeUI-15">949.000₫</span>

                </div>

            </div>

            <div class="box">
                <img src="/images/products/Evl-N preworkout.png" alt="preworkout">

                <div class="supplement-info">

                    <span class="Impact-25">BCAA ENERGY</span>

                    <div class="marginY-10">
                        <div class="rated">
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star checked-Evl-N"></span>
                            <span class="fa fa-star"></span>

                            <span class="segoeUI-15">(143)</span>
                        </div>
                    </div>

                    <span class="segoeUI-15">949.000₫</span>

                </div>

            </div>

        </div>

    </div>

    <div class="brand MuscleTech">
        <div class="justify-center">
            <img src="/images/banners/MuscleTech-logo.png" alt="MuscleTech logo">
        </div>

        <div class="box">

        </div>

    </div>

    <div class="brand MUTANT">
        <div class="justify-center">
            <img src="/images/banners/MUTANT-logo.png" alt="MUTANT logo">
        </div>

        <div class="box">

        </div>

    </div>

</div>