<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anti Gravity</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/1800/1800951.png">
    {{!-- stylesheet --}}
    <link rel="stylesheet" href="/css/app.css">
    {{!-- awesome font link(for star icon) --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<body>
    <div class="app">
        <header>
            {{>header}}
        </header>
        <nav>
            {{>navigation}}
        </nav>
    <div class="container">
           {{{body}}}
    </div>
        <footer>
            {{>footer}}
        </footer>
    </div>
</body>
</html>